@page
@model ProyectoLenguajes.Pages.EstudioModel
@{
    ViewData["Title"] = "Áreas de estudio";
}

<h2>Áreas de estudio del idioma</h2>

<div class="container">
    <p>
        Por lo general los <a asp-page="Exams">exámenes oficiales</a> consisten de 4 secciones: Reading, Listening, Speaking y Writing.
        Durante el examen, se deberá realizar tareas que combinan estas 4 habilidades de comunicación en inglés, por ejemplo:
    </p>
    <ul>
        <li>Leer, escuchar y después hablar para responder a una pregunta.</li>
        <li>Escuchar y después hablar para responder a una pregunta.</li>
        <li>Leer, escuchar y después escribir para responder a una pregunta.</li>
    </ul>
</div>

<h2>
    <span class="badge bg-success">Reading</span>
    <br />
</h2>

<p class="lead">
    Se refiere a que tan bien puedes leer en el idioma y también como es tu comprensión de textos.
</p>

<h2>
    <span class="badge bg-success">Listening</span>
    <br />
</h2>

<p class="lead">
    Se refiere a tu habilidad de escuchar y entender lo que se está diciendo en el idioma.
</p>

<h2>
    <span class="badge bg-success">Speaking</span>
    <br />
</h2>

<p class="lead">
    Es tu habilidad de hablar y expresarte con el idioma. La fluidez con que hablas y pronuncias.
</p>

<h2>
    <span class="badge bg-success">Writing</span>
    <br />
</h2>

<p class="lead">
    Se refiere a tu habilidad de escribit y formar oraciones o textos en el idioma.
</p>

<p class="lead">
    <a class="btn btn-warning btn-lg" href="https://www.ets.org/es/toefl/test-takers/ibt/about/content/" role="button">Más información</a>
</p>