@page
@model ProyectoLenguajes.Pages.ExamsModel
@{
    ViewData["Title"] = "Exámenes";
}

<h2>Exámenes estandarizados de inglés</h2>
<p class="lead">
    Existen exámenes estandarizados especialmente diseñados para cada uno de los niveles. Los dos principales y más conocidos y reconocidos internacionalmente son, el <a href="https://www.ets.org/es/toefl/test-takers/">TOEFL</a> y el <a href="https://www.ielts.org/">IELTS</a>. 
    Cada uno con sus versiones para la evaluación en cada nivel.
</p>

<img src="~/img/exams.png" class="img-fluid" alt="Exámenes de inglés">

<p class="lead">
    Estos exámenes son reconocidos internacionalmente, por distintas organizaciones, tales como, universidades y escuelas, así como en diversas empresas internacionales.
</p>

<p class="lead">
    <a class="btn btn-warning btn-lg" href="https://tracktest.eu/english-levels-cefr/" role="button">Más información</a>
</p>