@page
@model ProyectoLenguajes.Pages.InfoModel
@{
    ViewData["Title"] = "Información";
}

<div class="container">
    <!-- Content here -->
    <h2>
        Videos sobre aprendizaje de idiomas<span class="badge bg-danger">YouTube</span>
    </h2>
    <div class="container">
        <a href='https://play.google.com/store/apps/details?id=com.google.android.youtube&hl=es&gl=US'><img alt='Disponible en Google Play' src='~/img/Android.png' /></a>
        <a href='https://apps.apple.com/es/app/youtube/id544007664'><img alt='Disponible en Appstore' src='~/img/Apple.png' /></a>
        <br />
    </div>

    <br /><br />
    <h3>Cómo aprender idiomas en tiempo récord y no confundirse</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xNzg0GuHrVg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br /><br />
    <h3>Cómo aprender un lenguaje</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/J_EQDtpYSNM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br /><br />
    <h3>
        La mejor manera de aprender un lenguaje
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SDLlhUv519k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br /><br />
    <h3>
        Cómo aprender a hablar un idioma sin hablar con personas
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QxHKkfbcRKQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br /><br />
    <h3>
        Cómo replantear tus metas al aprender un idioma
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/H1zlaohXjMw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br /><br />
    <h3>
        Las ventajas de un cerebro bilingüe
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MMmOLN5zBLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>