@page
@model ProyectoLenguajes.Pages.NivelesModel
@{
    ViewData["Title"] = "Niveles";
}

<h2>Niveles de inglés</h2>

<p class="lead">
    Los niveles de aprendizaje del idioma inglés están divididos en tres niveles, que a su vez se dividen en dos subniveles de acuerdo con el estándar del <b>CEFR (Common European Framework of Reference for Languages)</b>:
</p>

<h2>
    <span class="badge bg-success">Niveles A:</span>
    <br />
</h2>

<p class="lead">
    A1, principiante. Este es el primer nivel de todos. Aquí la persona puede entender expresiones cotidianas familiares y frases muy básicas. Se puede presentar con otros y puede preguntar cosas y detalles personales, tal como el lugar de precedencia, etc.
    A2, elemental. La persona puede entender oraciones y expresiones usadas frecuentemente de temas de la vida cotidiana, por ejemplo, información personal, compras, etc.) Se puede comunicar en rutinas, puede describir términos simples.
</p>

<h2>
    <span class="badge bg-success">Niveles B:</span>
    <br />
</h2>

<p class="lead">
    B1, intermedio. La persona puede entender diversas conversaciones encontradas regularmente en la escuela, el trabajo, etc. Puede interactuar en más situaciones, tales como viajar y comunicarse en un país en donde se habla el idioma. También puede describir experiencias y eventos, sueños y ambiciones.
    B2, intermedio avanzado. Se puede entender la idea principal de textos complejos en ambos temas concretos y abstractos, incluyendo discusiones técnicas en su campo de especialización. Puede interactuar con un grado de fluencia y espontaneidad que hace una buena comunicación con hablantes nativos.
</p>

<h2>
    <span class="badge bg-success">Niveles C:</span>
    <br />
</h2>

<p class="lead">
    C1, avanzado. Se puede entender un gran rango de texto largos. Puede expresarse muy fluidamente y espontáneamente sin tener que buscar por expresiones. Puede producir textos claros, bien estructurados y detallados en temas complejos, mostrando coherencia1
    C2, competencia. En este nivel se pude comunicar fácilmente con todo los que se oye o lee. Puede obtener información de diferentes fuentes, habladas y escritas. Puede expresarse en manera espontánea, fluida y precisa inclusive en situaciones más complejas.
</p>

<p class="lead">
    <a class="btn btn-warning btn-lg" href="https://tracktest.eu/english-levels-cefr/" role="button">Más información</a>
</p>
