@page
@model ProyectoLenguajes.Pages.RecursoModel
@{
    ViewData["Title"] = "Recursos";
}
<div class="container">
    <!-- Content here -->
    <h2>
        Podcasts para el aprendizaje <span class="badge bg-success">Spotify</span>
        <span class="badge bg-warning">Listening</span>
    </h2>
    <div class="container">
        <a href='https://play.google.com/store/apps/details?id=com.spotify.music'><img alt='Disponible en Google Play' src='~/img/Android.png' /></a>
        <a href='https://apps.apple.com/app/id324684580?mt=8'><img alt='Disponible en Appstore' src='~/img/Apple.png' /></a>
        <br />
    </div>

    <br />
    <iframe src="https://open.spotify.com/embed-podcast/show/1WCxl4IqKCHndno3fn5ekY" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/0RjrXVjw3FhNlO7saEPoSF" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/3BdVI2jDY4FRY4QKKbY1GM" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/1KRwhKl60iMj3r9QH5fTnf" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/1DUo0xPrt2fIJfPlxEuGso" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/47k8HvaTgXXqVaRC9N6igy" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/6qXldSz1Ulq1Nvj2JK5kSR" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/7I47az64kxD5yhJM5mUWFZ" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed-podcast/show/7ixeOS7ezPTZSaISIx2TTw" width="350" height="350" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<div class="container">
    <h2>
        Más podcasts <span class="badge bg-success">Google Podcasts</span>
        <span class="badge bg-warning">Listening</span>
    </h2>
    <div class="container">
        <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.podcasts&utm_source=google_podcasts&utm_campaign=pw_promo&hl=es-419'><img alt='Disponible en Google Play' src='~/img/Android.png' /></a>
        <a href='https://apps.apple.com/app/google-podcasts/id1398000105'><img alt='Disponible en Appstore' src='~/img/Apple.png' /></a>
        <br />
    </div>

    <br /><br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre de Podcast</th>
                <th scope="col">Descripción</th>
                <th scope="col">Enlace</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">WSJ Tech News Briefing</th>
                <td>Noticias de tecnología</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly92aWRlby1hcGkud3NqLmNvbS9wb2RjYXN0L3Jzcy93c2ovdGVjaC1uZXdzLWJyaWVmaW5n?sa=X&ved=0CAMQ4aUDahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQAg" role="button">Ir</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Relatos en inglés con Duolingo</th>
                <td>Relatos contados</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly9lbnBvZGNhc3QubGlic3luLmNvbS9yc3M?sa=X&ved=0CAIQ9sEGahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQBg" role="button">Ir</a></td>
            </tr>
            <tr class="table-success">
                <th scope="row">🇺🇸 Curso De Inglés</th>
                <td>Conversaciones en inglés</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8yN2RhZWVjOC9wb2RjYXN0L3Jzcw?sa=X&ved=0CAMQ4aUDahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQDw" role="button">Ir</a></td>
            </tr>
            <tr class="table-warning">
                <th scope="row">Learn English Through Listening</th>
                <td>Escucha</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hZGVwdGVuZ2xpc2guY29tL2ZlZWQvcG9kY2FzdC8?sa=X&ved=0CAYQ27cFahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQHA" role="button">Ir</a></td>
            </tr>
            <tr class="table-info">
                <th scope="row">Culips English Podcast</th>
                <td>Aprender inglés</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly9lc2wuY3VsaXBzLmNvbS9mZWVk?sa=X&ved=0CAMQ27cFahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQHA" role="button">Ir</a></td>
            </tr>
            <tr class="table-light">
                <th scope="row">Luke’s ENGLISH Podcast</th>
                <td>Inglés británico</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly90ZWFjaGVybHVrZS5jby51ay9mZWVkLw?sa=X&ved=0CAcQ27cFahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQHA" role="button">Ir</a></td>
            </tr>
            <tr class="table-primary">
                <th scope="row">Better at English</th>
                <td>Conversaciones reales</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuYmV0dGVyYXRlbmdsaXNoLmNvbS9mZWVkL3BvZGNhc3Q?sa=X&ved=0CAsQ27cFahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQHA" role="button">Ir</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Plain English Podcast</th>
                <td>Situaciones actuales</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly9wbGFpbmVuZ2xpc2gubGlic3luLmNvbS9yc3M?sa=X&ved=0CAkQ27cFahcKEwiI3vKypqzuAhUAAAAAHQAAAAAQHA" role="button">Ir</a></td>
            </tr>
            <tr class="table-success">
                <th scope="row">Coffee Break English</th>
                <td>Conversaciones cortas</td>
                <td><a class="btn btn-danger" href="https://podcasts.google.com/feed/aHR0cHM6Ly9yc3MuYWNhc3QuY29tL2NvZmZlZWJyZWFrZW5nbGlzaA?sa=X&ved=0CBoQ27cFahgKEwiI3vKypqzuAhUAAAAAHQAAAAAQyQk" role="button">Ir</a></td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<br />

<div class="container">
    <h2>
        Más información <span class="badge bg-success">Sitios web</span>
        <span class="badge bg-warning">Grammar</span>
        <span class="badge bg-warning">Reading</span>
        <span class="badge bg-warning">Writing</span>
    </h2>

    <br /><br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre de sitio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Enlace</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">Resources for learning English</th>
                <td>Gramática y vocabulario</td>
                <td><a class="btn btn-danger" href="https://www.ef.com/wwen/english-resources/" role="button">Ir</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">English Grammar Online</th>
                <td>Gramática, vocabulario y escritura</td>
                <td><a class="btn btn-danger" href="https://www.ego4u.com/" role="button">Ir</a></td>
            </tr>
            <tr class="table-success">
                <th scope="row">BC Grammar Reference</th>
                <td>Gramática</td>
                <td><a class="btn btn-danger" href="https://learnenglish.britishcouncil.org/english-grammar-reference" role="button">Ir</a></td>
            </tr>
            <tr class="table-warning">
                <th scope="row">Perfect English Grammar</th>
                <td>Gramática</td>
                <td><a class="btn btn-danger" href="https://learnenglish.britishcouncil.org/english-grammar-reference" role="button">Ir</a></td>
            </tr>
            <tr class="table-info">
                <th scope="row">EnglishClub</th>
                <td>Vocabulario, gramática, lectura, escritura</td>
                <td><a class="btn btn-danger" href="https://www.englishclub.com/" role="button">Ir</a></td>
            </tr>
            <tr class="table-light">
                <th scope="row">DFLE Recursos Libres</th>
                <td>Escucha, gramática, lectura</td>
                <td><a class="btn btn-danger" href="https://www.e4u.dfle.ipn.mx/moodle/course/index.php?categoryid=13" role="button">Ir</a></td>
            </tr>
            <tr class="table-primary">
                <th scope="row">British Council English</th>
                <td>Gramática, lecciones, videos</td>
                <td><a class="btn btn-danger" href="https://learnenglish.britishcouncil.org/" role="button">Ir</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">British Council Teens</th>
                <td>Gramática, vocabulario</td>
                <td><a class="btn btn-danger" href="https://learnenglishteens.britishcouncil.org/" role="button">Ir</a></td>
            </tr>
            <tr class="table-success">
                <th scope="row">LEO English Online</th>
                <td>Vocabulario, gramática, pronunciación</td>
                <td><a class="btn btn-danger" href="https://www.learnenglish.de/" role="button">Ir</a></td>
            </tr>
        </tbody>
    </table>
</div>